# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.*
/frontend/.yarn/*
!/frontend/.yarn/patches
!/frontend/.yarn/plugins
!/frontend/.yarn/releases
!/frontend/.yarn/versions

/backend/node_modules
/backend/.pnp
/backend/.pnp.*
/backend/.yarn/*
!/backend/.yarn/patches
!/backend/.yarn/plugins
!/backend/.yarn/releases
!/backend/.yarn/versions

# testing
/frontend/coverage
/backend/coverage

# next.js
/frontend/.next/
/frontend/out/
/backend/.next/
/backend/out/

# production
/frontend/build
/backend/build

# misc
/frontend/.DS_Store
/backend/.DS_Store
/frontend/*.pem
/backend/*.pem

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

# env files (can opt-in for committing if needed)
/frontend/.env*
/backend/.env*

# vercel
/frontend/.vercel
/backend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts
/backend/*.tsbuildinfo
/backend/next-env.d.ts
